* {
  padding: 0;
  margin: 0;
}


.board {
  width: 90vh;
  aspect-ratio: 1;
  display: flex;
  flex-wrap: wrap;
}

.white {
  background-color: white;
}

.dark {
  background-color: black;
}

.block {
  width: 10%;
  box-sizing: border-box;
  aspect-ratio: 1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.water {
  background-color: blue;
}

.red {
  background-color: rgba(255, 0, 0, 0.426);
}

.blue {
  background-color: rgba(0, 0, 255, 0.426);
}

#action {
  width: 200px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  border: 1px solid red;
}

button {
  flex-shrink: 0;
  padding: 4px 10px;
}

.selected-piece-btn {
  background-color: blue;
  color: white;
}

#save-placement {
  background-color: blue;
  color: white;
  padding: 5px 10px;
}

#save-placement:disabled {
  background-color: rgba(0, 0, 255, 0.322);
  color: white;
  padding: 5px 10px;
}

#message-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 255, 0.2);
}

#message-modal-Box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-Box {
  padding: 10px;
  border-radius: 10px;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}